/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-may-2016, 16:25:27
    Author     : José Morente
*/

#stackPane-login {
    -fx-background-image: url("../recursos/Log.png");
    -fx-background-size: stretch;
}

#buttonLogin {
    -fx-base: #000000; 
    -fx-border-color: #ffffff;
    -fx-font-size: 10pt;
    -fx-text-fill: #ffffff;
}

.text-field {
    -fx-background-radius: 0;
    -fx-font-size: 9pt;
}

.label {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 15pt;
}